
<script>
    const myPromise = new Promise((resolve, reject) => {
    // Simulating an async operation (e.g., API call)
    setTimeout(() => {
        let success = false; // Change to false to test rejection
        if (success) {
            success=false;
            resolve("Data fetched successfully!");
            
        } else {
            reject("Error fetching data.");
        }
    }, 2000);
});

console.log(myPromise); // Initially in "pending" state

myPromise
    .then((result) => {
        console.log("Success:", result);
    })
    .catch((error) => {
        console.error("Failure:", error);
    })
    .finally(() => {
        console.log("Operation completed.");
    });

    
</script>
